In [30]:
#Question 1
import pandas as pd
class SIMS ():
    def details(self):
        print("Enter Student Details Below")
        num_students = int(input("Enter the number of students: "))
        data = {
            'Student Name': [],
            'Matric Number': [],
            'Department': [],
            'Level': []
        }
        for i in range(num_students):
            student_name = input("Enter student name: ")
            matric_number = input("Enter matric number ").split()
            department = input("Enter Department ").split()
            level = input("Enter Level ").split()
            data['Student Name'].append(student_name)
            data['Matric Number'].append(matric_number)
            data['Department'].append(department)
            data['Level'].append(level)
            
        df =pd.DataFrame(data)
        display(df)
        df[['Student Name', 'Matric Number', 'Department', 'Level']]
        df.to_excel('Student details.xlsx')
val=SIMS()
val.details()

Enter Student Details Below
Enter the number of students: 5
Enter student name: Oluchi Mordi
Enter matric number  ACC10211111
Enter Department Accounting
Enter Level 300
Enter student name:  Adams Aliyu
Enter matric number ECO10110101
Enter Department Economics
Enter Level 100
Enter student name: Shania Bolad
Enter matric number  CSC10328828
Enter Department  Computer
Enter Level 200
Enter student name: Adekunle Gold
Enter matric number EEE11020202
Enter Department Electrical
Enter Level 200
Enter student name: Blanca Edemoh
Enter matric number MEE10202001
Enter Department Mechanical
Enter Level 100

    Student Name  Matric Number    Department  Level
0   Oluchi Mordi  [ACC10211111]  [Accounting]  [300]
1    Adams Aliyu  [ECO10110101]   [Economics]  [100]
2   Shania Bolad  [CSC10328828]    [Computer]  [200]
3  Adekunle Gold  [EEE11020202]  [Electrical]  [200]
4  Blanca Edemoh  [MEE10202001]  [Mechanical]  [100]

In [22]:
import pandas as pd

# Create a dictionary with the company data
data = {
    'Company': ['Enron', 'Anderson', 'GK Jones', 'Mica', 'Dune'],
    'Founded': [1987, 1938, 2001, 1996, 2008],
    'Shares': [1000000, 1500000, 3000000, 250000, 800000],
    'Liabilities': [200000, 1500000, 50000, 300000, 200000]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Calculate the assets column by subtracting liabilities from shares
assets = df['Shares'] - df['Liabilities']

# Calculate the over-leverage column by dividing (Assets - Liabilities) by Assets and multiplying by 100
df['Assets'] = assets
df['Over-Leverage (%)'] = ((df['Assets'] - df['Liabilities']) / df['Assets']) * 100

# Save the DataFrame to an Excel file using openpyxl as the engine
df.to_excel('Companny_data.xlsx', index=False, engine='openpyxl')